<div class="heroes-list">
  <h1 class="heroes-list__title">Mis héroes</h1>
  <button (click)="heroCreateEmitter.emit()" mat-raised-button>Añadir</button>
</div>

<mat-form-field appearance="standard">
  <mat-label>Buscar...</mat-label>
  <input
    placeholder="Ej: Batman"
    matInput
    type="text"
    [formControl]="search"
    autofocus
    (keyup)="onSearchInputChange($event)"
  />
  <button
    *ngIf="search.value"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="onClear()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<mat-selection-list #list [multiple]="false">
  <mat-list-option
    *ngFor="let hero of heroes"
    [value]="hero"
    role="listitem"
    animFadeIn
    (click)="heroSelectEmitter.emit(hero)"
  >
    <app-hero-item
      [hero]="hero"
      (onEdit)="heroEditEmitter.emit($event)"
      (onDelete)="heroDeleteEmitter.emit($event)"
    ></app-hero-item>
  </mat-list-option>
</mat-selection-list>

<p *ngIf="!heroes?.length && !search.value">Añade tu primer héroe</p>
<p *ngIf="!heroes?.length && search.value">
  Sin resultados para "{{ search.value }}"
</p>
